.App {
  text-align: center;
  padding-top: 50px;
  font-size: 25px;
  color:bisque;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9671c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-green {
  background-color: aquamarine;
}
.header-blue {
  background-color: rgb(219, 166, 235);
}
.counter {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: block;
  min-width: 200px;
  text-align: center;
  margin-bottom: 25px;  
}
.counter-btn {
  display: block;
  padding: 5px;
}
.messageBox {
  display: flex;
  padding: 7px;  
  width: 300px;  
}
.author {
  font-size: 15px;
}
.messenger {
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  height: 350px;
  min-width: 520px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}
.place {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  align-items: center;
}
.workplace {
  display: flex;
  width: 600px;
}
.chatList {
  width: 250px;
}
.link {
  color: white;
}
.horizontalMenu {
  display: flex;
  justify-content: space-between;
}